<div class="user-details">
  <h1> A glimpse into my work </h1>
</div>
<div class="user-projects">
  <div class="images-left">
   <img alt="stocktrading" src="{{ "/assets/img/Power-E-TRADE-platform-overview.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> VRWealthCreators - Stock trading platform </h3>
    <ul>
      <li> PHP, MySQL and Laravel</li>
      <li>JS and HTML5</li>
    </ul>
    <p>A highly technically intensive stock trading platform currently being developed for VRWealthCreators, Gujarat. The system operation relies heavily on development of custom REST APIs, integration with third party APIs and also constitutes </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    
  </div>
  <div class="contents">
    <h3> Job Bank Engine </h3>
    <ul>
      <li> PHP, MySQL and Laravel</li>
      <li>JS and HTML5</li>
    </ul>
    <p>A job search and job posting engine currently being developed in Laravel. Consitutes the mechanism of CRUD.</p>
    <p>URL for the project will be updated here upon completion</p>
    
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
   <img alt="stocktrading" src="{{ "/assets/img/Power-E-TRADE-platform-overview.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Working with Shiprocket API </h3>
    <ul>
      <li> PHP, MySQL and Laravel</li>
      <li>JS and HTML5</li>
    </ul>
    <p>Development of services/functionalities on Laravel Ecommerce systems based on the Shiprocket API. Primary functionalities:</p>
    <ul>
      <li>Integration of basic functions concerned with Shipping</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

